.top-bar{
	width: 100%;
	height: 50px;
	background-color: #FF00FF;
	line-height: 50px;
}
.top-bar__header{
	width: 100%;
	display: flex;
	
	justify-content: space-between;
	
	color: var(--white-color);
}
.top-bar__left{
	width: 50%;
}
.top-bar__left ul {
	display: flex;
	

}
.top-bar__left ul li {
	list-style: none;
	margin-right:  50px;	
}
.top-bar__left ul li a i {
	color: var(--white-color);
}

.top-bar__right{
	width: 50%;
	display: flex;
	justify-content: flex-end;
	margin-left: 50px;
		

}
.top-bar__right-link a{
	text-decoration: none;
	color: var(--white-color);
	font-weight: 500;
}
.top-bar__left ul li a i:hover, .top-bar__right-link a:hover{
	color: #D8D8D8;
}


/*Bot-bar*/
.bot-bar{
	width: 100%;
	height: 80px;
	
}



.bot-bar__header{
	display: flex;
	justify-content: space-between;
}
.bot-bar__logo{
	margin-top: 18px;
	flex-grow: 1;
	
}

.bot-bar__list-item ul{
	display: flex;
	justify-content: space-around;
	
}
.bot-bar__list-item ul li {
	list-style: none;
	line-height: 80px;
	padding: 0 20px 0 25px;
	
}
.bot-bar__list-item ul li:nth-child(4){
color: #FF00FF;
}
.bot-bar__list-item{
	flex-grow: 5;
}
.search{
	flex-grow: 1;
	
	display: flex;
	justify-content: flex-end;

}
.search div i {
margin-top: 25px;
padding: 4px;
background-color: #DF0174;
border-radius: 3px;

}
.bot-bar__list-item ul li:hover, .search div i:hover{
	color: #ccc;
	cursor: pointer;
}
.footer__plus{
	position: relative;
	height: 100px;
	width: 100%;
	display: flex;
}

.footer__logo img{
	width: 100%;
	opacity: 0;
}
.footer__plus-left{
	position: absolute;
	top:0;
	left:0;
	margin-top: 30px;
	width: 50%;
	

	
}
.footer__plus-left ul{
	display: flex;

	
	margin-right: 30px;
}
.footer__plus-left ul li{
	list-style: none;
	padding: 0 20px 0 0;

}
.footer__plus-right{
	position: absolute;
	top:0;
	right:0;
	margin-top: 30px;
	width: 50%;
	background-color: red;
}