*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
.container{
	width: 80%;
	margin:0 auto;
}
.container-fluid{
	width: 100%;
}
:root{
	--white-color:#fff;
}

	

